<div class="container">
  <h1>{{ question }}</h1>
  <div class="buttons">
    <button
      class="yes-button"
      [ngStyle]="{
        transform: 'scale(' + getYesButtonSize() + ')'
      }"
      (click)="onYesClick()"
    >
      Yes
    </button>

    <button
      *ngIf="shouldShowNoButton()"
      class="no-button"
      [ngStyle]="{
        transform: 'scale(' + getNoButtonSize() + ')'
      }"
      (click)="onNoClick()"
    >
      No
    </button>
  </div>

  <p class="response">{{ response }}</p>
</div>
